{% extends 'index.html' %}

{% block content %}

<div class="form">
    <header class="form-header">
  <h2 class="form-title">Add your favourite book</h2>
</header>



   
    <form class="add-form" action="{{ request.path }}" method="POST">
        <div class="add-form__group">
        <input class="add-form__input" type="text" name="author" placeholder="Enter the author name" required>
        </div>
        <div class="add-form__group">
        <input class="add-form__input" type="text" name="title" placeholder="Enter the title" required>
        </div>
        <button type="submit" class="btn-add-form">Submit</button>
    </form>

</div>

{% endblock %}