<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>My Personal Book Library</h1>

    <section>
        <ul>
            {% for book in books %}
            <li class="title">{{ book }}</li>
            <li class="title">{{ book }}</li>
            {% endfor %}
            {% block content %}{% endblock %}
        </ul>
       
    </section>

    <form action="/" method="POST">
        <input type="text" name="new_book" placeholder="Enter a new book">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
    
</body>
</html>